
h1 Tenants
ul
	li(ng-repeat='tenant in tenants track by tenant._id')
		a(href ui-sref="user({tenantKey:'{{tenant.key}}', strategyName:'{{tenant.strategy.name}}'})") {{tenant.key}}

ul
	li(ng-repeat='tenant in tenants track by tenant._id')
		a(href="api/sso/{{tenant.key}}/{{tenant.strategy.name}}" target='_blank') {{tenant.key}}