doctype html
html(ng-app='sso-express')
	head
		title SSO Express
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js')
		script(src='//cdn.jsdelivr.net/angular.ui-router/0.2.13/angular-ui-router.js')
		script(src='app.js')

	body(ui-view)
